/* =========================
   LAYOUT
========================= */

.catalog-layout {
  display: flex;

  flex-direction: row-reverse;

  align-items: flex-start;

  gap: 40px;

  padding: 60px 40px;
}

/* =========================
   CONTENT
========================= */

.catalog-content {
  flex: 1;
}

/* =========================
   GRID
========================= */

.perfume-grid {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));

  gap: 30px;

  min-height: 600px;
}
